.section_header2 {
  font-size: 18px;
  font-weight: light;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid;
    margin-right: 7px;
    opacity: 1;
    transform: translateZ(0);
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @include breakpoint-down(lg) {
    font-size: max(3.0333333333vw, 16px);
    margin: 1rem 0;
  }
}
