.diensten-header {
  position: relative;
  padding-top: 10rem;
  .title {
    font-size: max(4.6666666667vw, 50px);
    font-weight: 500;
    .red {
      color: $darkRed;
    }
    .green {
      color: #a9f03f;
    }
  }
  .sphere-container {
    position: absolute;
    width: 10%;
    top: 60vh;
    // background-color: red;
    right: 5vw;
  }
  @include breakpoint-up(xl) {
    .sphere-container {
      top: 50vh;
      right: 15vw;
    }
  }
}
