.card_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 18%;
  .title {
    font-size: 42px;
    font-weight: 500;
  }
  .item_wrapper {
    width: 360px;
    li {
      margin-bottom: 0.5rem;
    }
    li::before {
      content: "•"; /* Insert content that looks like bullets */
      padding-right: 8px;
      color: $background; /* Or a color you prefer */
    }
  }
}
