.proces {
  // background-color: $white;
  // color: $background;
  position: relative;
  .title_wrapper {
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      font-size: 48px;
      max-width: 70%;
      margin-top: -0.25ch;
    }
  }
  .content_wrapper {
    display: flex;
    margin: 0 0rem;
    margin-top: 8rem;
    .cunt {
      width: 60%;
      margin-top: 1rem;
    }

    .selector_wrapper {
      width: 35%;
      // position: absolute;
      // left: 20%;
    }
    .progress_container {
      width: 40%;
      height: 400px;
      position: relative;
      margin-left: auto;
      // margin-right: 5rem;
    }
    .sub_wrapper {
      display: flex;
      width: 50%;
      .sub_hr {
        width: 1.5px;
        margin: 0 1rem;
        height: 200px;
        background-color: $background;
      }
    }
  }
  .section_header {
    margin-bottom: 10rem;
  }
  padding-bottom: 10rem;

  @include breakpoint-down(lg) {
    background-color: $white;
    color: $background;
    margin-bottom: -1rem;
    padding-bottom: 3rem;
    .title_wrapper {
      color: $background;
      flex-direction: column;
      .title {
        max-width: 100%;
        font-size: max(5.6666666667vw, 25px);
      }
    }
    // .progress_container {
    //   display: none;
    // }
    .content_wrapper {
      color: $background;
      // justify-content: space-between;
      .selector_wrapper {
        min-width: 40%;
      }
      .sub_wrapper {
        width: auto;
        font-size: max(2.7333333333vw, 16px);
        color: $background;
        .sub_hr {
          margin-top: 0.5rem;
        }
      }
      .progress_container {
        display: none;
      }
    }
  }
  @include breakpoint-down(md) {
    .content_wrapper {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      .cunt {
        width: 100%;
      }
      .selector_wrapper {
        margin-bottom: 2rem;
      }
      .sub_wrapper {
        .sub_hr {
          height: 200px;
        }
        .sub {
          margin-top: 0.3rem;
        }
      }
    }
    .title_wrapper {
      margin-top: 8rem;
    }
  }
}

#sliderHorizontal {
  position: absolute;
  left: 40%;
  transform: translateX(-50%) rotateZ(-90deg);
  bottom: -70px;
}
#sliderVertical {
  position: absolute;
  right: -80px;
  top: 40%;
  transform: translateY(-50%);
}
